<%= form_with(model: spot, local: true) do |form| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
      <% spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :コメント %>
    <%= form.text_field :comment %>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :TEL %>
    <%= form.telephone_field :tel %>
  </div>

  <div class="field">
    <%= form.label :料金 %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :駐車場 %>
    <%= form.text_field :parking %>
  </div>

  <div class="field">
    <%= form.label :Googleマップ%>
    <%= form.text_field :access %>
  </div>

  <div class="field">
    <%= form.label :ホームページ %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :カテゴリー %>
    <%= form.select :category, Spot.categories.keys.to_a, {} %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
