<p id="notice"><%= notice %></p>

<br>

<%= link_to 'New Spot', new_spot_path %>
<br>

<h2>カテゴリー検索</h2>
<%= search_form_for @q, url: search_spots_path do |f| %>
  <%= f.select :category_cont, {カラフル: "カラフル", 動物みくじ: "動物みくじ", 水占い: "水占い", 花手水: "花手水", 雨の日: "雨の日", 子ども: "子ども", 車椅子: "車椅子"} %>
  <%= f.submit '検索' %>
<% end %>
<br>

<table>
  <thead>
    <tr height="80">
      <th>写真</th>
      <th>名前</th>
      <th>コメント</th>
      <th>住所</th>
      <th>TEL</th>
      <th>料金</th>
      <th>駐車場</th>
      <th>アクセス</th>
      <th>カテゴリー</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
				<td><%= image_tag spot.image.to_s, width: 180, hight:100;%></td>
        <td width="180">
        <% if spot.url? %>
          <%= link_to spot.name, spot.url %>
        <% else %>
          <%= spot.name %>
        <% end %>
          </td>
        <td><%= spot.comment %></td>
        <td><%= spot.address %></td>
        <td width="120"><%= spot.tel %></td>
        <td><%= spot.price %></td>
        <td><%= spot.parking %></td>
        <td width="115"><%= link_to 'Google マップ', spot.access %></td>
        <td width="115"><%= spot.category %></td>
        <td><%= link_to '編集', edit_spot_path(spot) %></td>
        <td><%= link_to '削除', spot, method: :delete, data: { confirm: '本当によろしいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



