   <% @results.each do |spot| %>
<h1><%= spot.category %></h1>
   <% end %>


<table>
  <thead>
    <tr height="80">
      <th>名前</th>
      <th>写真</th>
      <th>コメント</th>
      <th>住所</th>
      <th>TEL</th>
      <th>料金</th>
      <th>駐車場</th>
      <th>アクセス</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |spot| %>
      <tr>
        <td width="180">
        <% if spot.url? %>
          <%= link_to spot.name, spot.url %>
        <% else %>
          <%= spot.name %>
        <% end %>        
        </td>
				<td><%= image_tag spot.image.to_s, width: 180, hight:100;%></td>
        <td><%= spot.comment %></td>
        <td><%= spot.address %></td>
        <td width="120"><%= spot.tel %></td>
        <td><%= spot.price %></td>
        <td><%= spot.parking %></td>
        <td width="115"><%= link_to 'Google マップ', spot.access %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Top', root_path %>