   <% @results.each do |spot| %>
<h1><%= spot.category %></h1>
   <% end %>


<table>
  <thead>
  </thead>

  <tbody>
    <% @results.each do |spot| %>
      <tr>
	　 <td width="100">
		  <br>
		  <%= image_tag spot.image.to_s, width: 250, hight:150;%>
		  <p style="text-align: center">
		  <br>
		  <% if spot.url? %>
          <%= link_to spot.name, spot.url %>
          <% else %>
          <%= spot.name %>
          <% end %>
          </p>
				</td>

        <td>
        <h5><%= spot.comment %></h5>
        <p>住所：<%= spot.address %></p>
        <p>
         <% if spot.tel? %>
          TEL：<%= spot.tel %>
         <% end %>
        </p>
        <p>料金：<%= spot.price %></p>
        <p>駐車場：<%= spot.parking %></p>
        <p><%= link_to 'Google マップ', spot.access %></p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Top', root_path %>