<h1></h1>
<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>コメント</th>
      <th>住所</th>
      <th>TEL</th>
      <th>料金</th>
      <th>駐車場</th>
      <th>アクセス</th>
      <th>ホームページ</th>
      <th>カテゴリー</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |spot| %>
      <tr>
        <td><%= spot.name %></td>
        <td><%= spot.comment %></td>
        <td><%= spot.address %></td>
        <td><%= spot.tel %></td>
        <td><%= spot.price %></td>
        <td><%= spot.parking %></td>
        <td><%= link_to 'Google マップ', spot.access %></td>
        <td><%= link_to 'ホームページ', spot.url %></td>
        <td><%= spot.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Top', spots_path %>