<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @spot.name %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @spot.comment %>
</p>

<p>
  <strong>住所:</strong>
  <%= @spot.address %>
</p>

<p>
  <strong>TEL:</strong>
  <%= @spot.tel %>
</p>

<p>
  <strong>料金:</strong>
  <%= @spot.price %>
</p>

<p>
  <strong>駐車場:</strong>
  <%= @spot.parking %>
</p>

<p>
  <strong>Googleマップ:</strong>
  <%= @spot.access %>
</p>

<p>
  <strong>ホームページ:</strong>
  <%= @spot.url %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @spot.category %>
</p>



<%= link_to '編集', edit_spot_path(@spot) %> |
<%= link_to '戻る', spots_path %>
