<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spot.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @spot.comment %>
</p>

<p>
  <strong>Address:</strong>
  <%= @spot.address %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @spot.tel %>
</p>

<p>
  <strong>Price:</strong>
  <%= @spot.price %>
</p>

<p>
  <strong>Parking:</strong>
  <%= @spot.parking %>
</p>

<p>
  <strong>Access:</strong>
  <%= @spot.access %>
</p>

<p>
  <strong>Url:</strong>
  <%= @spot.url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @spot.category %>
</p>

<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
